h1{
  font-size: 50px;
  color:grey;
  text-align: center;
  font-weight: bolder;
  text-decoration: overline underline;
}
body{
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100;
  background-color: bisque;

}



